*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3c5675;
  line-height: 1.5;
}

.avatarContainer {
  background: #fff;
  border: 5px solid #fff;
  border-radius: 50%;
  height: 200px;
  position: relative;
  width: 200px;
  transition: box-shadow .15s ease-in-out;
}

.avatarContainer:hover {
  box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.avatar {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: white;
}

li {
  list-style: none;
}

section {
  text-align: center;
}

.quote {
  font-style: italic;
  margin: 1rem 0;
}

.quote .fa-quote-left {
  position: relative;
  top: -0.4rem;
  margin-right: .4rem;
}

.quote .fa-quote-right {
  position: relative;
  top: -0.4rem;
  margin-left: .4rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  margin-left: .4rem;
}

.skill::before {
  content: '#'
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  color: #7e96b3;
  background: #fff;
  border: 2px solid #ccd6e4;
  border-radius: 6px;
  padding: 15px 30px;
  margin: 2px;
  line-height: 1;
  text-decoration: none;
  transition: all .2s;
}

.button:hover {
  color: #2699ec;
  border-color: #2699ec;
}

.button i {
  font-size: 150%;
  margin-right: 5px;
  vertical-align: middle;
}

.mainTitle {}