$primary-color: rgba(36, 41, 46, 1);
$secondary-color: #adadad;
$badge-color: #0366d6;

:root {
  --Nhexa: 6;
  --gap: 2vw;
  --size: calc(calc(100vw / var(--Nhexa)) - var(--gap));
  --timeline-badge-width: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0 none;
  font-family: "Open Sans", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

a {
  color: inherit;
}

a:active {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin-bottom: 0.7rem;
  text-indent: 1rem;
  text-align: justify;
}

.fa-quote-left {
  margin-right: 0.3rem;
}

.fa-quote-right {
  margin-left: 0.3rem;
}

html {
  font-size: 14px;
}

body {
  background-color: rgba(36, 41, 46, 0.15);
  max-width: 900px;
  border: solid 1px $secondary-color;
  padding: 2px;
  margin: 2px auto;
}

header.main {
  display: flex;

  .myface {
    width: 25%;
    text-align: center;
    padding: 1rem 0;
    background-color: $primary-color;
    color: $secondary-color;
  }

  .me {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;
    color: $primary-color;
    padding: 1rem;

    .identity {
      font-size: 2rem;
      font-weight: bold;
    }

    .role {
      font-size: 1.7rem;
    }

    .quote {
      margin: auto;
    }
  }
}

article {
  margin-bottom: 2rem;
}

article > header {
  font-size: 1.5rem;
  border-bottom: solid 1px $secondary-color;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

article > section {
  padding: 0 2rem;
}

.content {
  display: flex;
  .content-left {
    width: 25%;
    background-color: $primary-color;
    color: $secondary-color;
  }
  .content-right {
    width: 75%;
    background-color: $secondary-color;
    color: $primary-color;

    article > header {
      border-bottom: solid 1px $primary-color;
    }
  }
}

section.contact_me {
  padding-left: 1rem;

  .fa {
    font-size: 1.3rem;
    margin-left: 3px;
    margin-right: 3px;
    width: 1.5rem;
    text-align: center;
  }
  .social_links {
    a {
      padding-right: 0.5rem;
    }
    .fa {
      font-size: 2rem;
    }
  }
}

.scale {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 1rem;

  .cursor {
    position: absolute;
    transform: translate(-50%);
  }

  .scale-first {
    border: solid 1px rgba(76, 156, 255, 1);
  }

  .scale-second {
    border: solid 1px rgba(76, 156, 255, 0.3);
  }

  .scale-first,
  .scale-second {
    height: 1px;
  }

  &.scale-1 {
    .cursor {
      left: 20%;
    }
    .scale-first {
      width: 20%;
    }
    .scale-second {
      width: 80%;
    }
  }

  &.scale-2 {
    .cursor {
      left: 40%;
    }
    .scale-first {
      width: 40%;
    }
    .scale-second {
      width: 60%;
    }
  }

  &.scale-3 {
    .cursor {
      left: 60%;
    }
    .scale-first {
      width: 60%;
    }
    .scale-second {
      width: 40%;
    }
  }

  &.scale-4 {
    .cursor {
      left: 80%;
    }
    .scale-first {
      width: 80%;
    }
    .scale-second {
      width: 20%;
    }
  }

  &.scale-5 {
    .cursor {
      left: 100%;
    }
    .scale-first {
      width: 100%;
    }
    .scale-second {
      width: 0%;
    }
  }
}

.quote {
  font-size: 0.9rem;
}

@keyframes gradientswitch {
  0% {
    background: #0087c9;
  }

  16% {
    background: #ef4a53;
  }

  32% {
    background: #ffb463;
  }

  49% {
    background: #33d5d4;
  }

  65% {
    background: #254356;
  }

  81% {
    background: #5b4097;
  }

  100% {
    background: #0087c9;
  }
}

/* Timeline */

.assignment {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  position: relative;
  display: block;
}

.assignment > header {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  text-align: left;
}

.assignment > section {
  margin-left: var(--timeline-badge-width);
}

.assignment > footer {
  margin-top: 2rem;
  margin-left: var(--timeline-badge-width);
}

.assignment > header::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    rgba(36, 41, 46, 0.8),
    rgba(36, 41, 46, 0.8)
  );
  width: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc((var(--timeline-badge-width) / 2) + 16px);
}

.assignment:first-of-type > header::before {
  background-image: linear-gradient(
    to bottom,
    rgba(36, 41, 46, 0),
    rgba(36, 41, 46, 0.8) 50px
  );
}

.assignment:last-of-type > header::before {
  background-image: linear-gradient(
    to bottom,
    rgba(36, 41, 46, 0.8),
    rgba(36, 41, 46, 0)
  );
}

.assignment .tags {
  margin-bottom: 1rem;
  line-height: 1.5rem;

  span {
    background-color: $badge-color;
    border: solid 1px;
    border-color: $badge-color;
    border-radius: 3px;
    display: inline;
    flex: 0 0 75px;
    font-size: 10px;
    font-weight: 600;
    margin-right: 8px;
    padding: 2px 5px;
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
  }
}

.assignment .badge {
  width: var(--timeline-badge-width);
  text-align: center;
  background-color: #6f42c1;
  border: solid 1px;
  border-color: #6f42c1;
  border-radius: 3px;
  padding: 4px;
  font-weight: 600;
  display: inline-block;
  margin-right: 8px;
  z-index: 1; //Over header vertical line
}

.assignment > ul li {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-start;
}

.assignment .projects {
  margin-top: 1rem;
  .tags {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  .project {
    .project-label {
      .project-name {
        text-transform: uppercase;
        font-weight: bold;
      }

      .project-description-small {
        font-style: italic;
      }
    }
  }
}

.puce {
  background-color: #0366d6;
  display: inline;
  flex: 0 0 75px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
  margin-right: 8px;
  padding: 2px 5px;
  text-transform: uppercase;
  text-align: center;
}

/* - Icons */

section.icons {
  margin: calc(var(--size) * 0.5) auto 0;
  width: calc(var(--size) * calc(var(--Nhexa) - 1));
  display: grid;
  grid-template-columns: repeat(var(--Nhexa), 1fr);
  grid-gap: var(--gap);
}

article.icon {
  position: relative;
  /* background: cadetblue; */
  animation: gradientswitch 80s infinite;
  transition: all 0.1s ease;
  width: var(--size);
  height: calc(var(--size) / 1.1111111);
  clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
  margin-right: calc(var(--size) / 2);
  color: #fff;
  overflow: hidden;
}

article.icon:nth-child(2n) {
  margin: calc(var(--size) * -0.5) calc(var(--size) * -0.25) 0
    calc(var(--size) * -0.75);
}

article.icon::before {
  content: "";
  float: left;
  width: 25%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 100% 0%, 0% 50%, 100% 100%, 0% 100%);
}

.icons .icon img {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: 0% 50%;
  transition: 0.75s;
  clip-path: inherit;
  z-index: 10;
}

footer.main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: $primary-color;
  color: $secondary-color;
}
